.hrstyle-sansmargin{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width:50%;
    margin-left:0;
}
.hrstyle-avecmargin{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width:50%;
    margin-left:1.2rem;
}

.zoom{
    transition: transform 1s;
}
.zoom:hover{
    transform: scale(1.01);
}

@media only screen and (max-width: 579px) {

#container-image-principale h4{
    font-size:small;
}
.container-cadre{
    display:flex;
}
.container-image-cadre {

    display:-webkit-flex;
    order:2;
}
.container-image-cadre img{
    padding-bottom:1rem;
}
.container-content-cadre{
    display:flex;
    flex-direction:column;
    order:1;
}
.container-content-cadre a{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center
}
.hrstyle-avecmargin,.hrstyle-sansmargin{
    width:100%;
}
.hrstyle-avecmargin{
    margin-left:0;
}
.container-content-cadre p{
    text-align: center;
}

}