
body {
    font-family: 'Nanum Gothic', sans-serif;
    color : #414F8E;
    margin:0;  
}
.container-app-global{
   padding-left:0;
   padding-right:0;
   margin:0;
   min-height: 100vh;
}

a{
    color:#414F8E;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }