
html{
   height:100%
}
#app{
   height:100%
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    color : #414F8E;
    margin:0;
    height:100%;   
}

a{
    color:#414F8E;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }