.footer{
    background-color:black;
    color : #414F8E;
    font-size : 0.8rem;
}
.copy{
    font-size : 0.8rem;
    background-color:rgb(236, 237, 240);
}
.row{
    margin-left:0;
    margin-right:0;
}