.footer{
    background-color:black;
    color : #414F8E;
    font-size : 0.8rem;
}
.copy{
    font-size : 0.8rem;
    background-color:rgb(236, 237, 240);
}
.row{
    margin-left:0;
    margin-right:0;
}
.footer{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
#footercontact{
    margin-bottom:300px;
    position:absolute;
    bottom:0;
}
.footer p{
  padding:1rem 2rem;
  margin-left:1;
  margin:0;
}
@media only screen and (max-width:572px){
    .footer{
        justify-content:center;
    }
    .footer p span:first-of-type{
        display:none;
        justify-content:center
    }
    .footer p{
        padding:1rem 0;
        width:100%;
        align-items: center;
        justify-content: center;
        display:flex;
    }

}